.title {
  width: 100%;
}
.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.line-through {
  text-decoration: line-through;
}
ion-modal {
  ion-content {
    height: 90%;
  }
  .task-row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}
ion-card {
  max-height: 500px;
}
